[2017-04-27 01:02] omad opened #2 "Attempt to make environments immutable"
The way the NCI environments/modules are created allows them to be modified by anyone in the `v10_w` group, simply by running a `pip install foo` or `pip install -U foo`.

Since we want these environments to be immutable, I think we should remove the `w` bit from everything after the environment has been created.

[2017-04-27 01:46] jeremyh commented on #2
Good idea. I've run it over today's environments. I'll add it to the creation script.

[2017-04-27 01:51] #2 closed, assigned to nobody

[2017-06-16 06:06] omad opened #5 "Issues with DB accounts created by Python 2 module"
There have been 3 people this week unable to use the Data Cube from NCI, due to login issues on the database. It seems to stem from loading the **agdc-py2-prod** module. We've probably got another Python 2 incompatibility in the account generation script.

[2017-06-16 06:47] jeremyh commented on #5
Py2 seems to be working for the common case:

[code]
(though a downside of the deprecation warning is that any errors on creation are much less visible than they used to be)

Did they give any other info about the type of error? No account, no pgpass?

[2017-06-16 06:49] jeremyh commented on #5
Unless it's a permissions error for non-GA accounts, which I can't test...

[2017-06-16 07:07] omad commented on #5
Thanks for testing that Jeremy, I hadn't had a chance yet.

I think Lien or @sixy6e may have a screenshot of the error, but I don't know if it's the original error or just not being able to connect later on.

I do know that it's users of the **wd8** group, who only have VDI access. So your guess of permissions could be right.

[2017-06-16 07:41] sixy6e commented on #5
This is the original error sent to me (user name omitted).

[code]

But I can't confirm if it's the original error.

[2017-06-20 08:06] omad opened #6 "Broken Datasets"
While trying to compute some time series statistics over NBAR, I've found some more broken datasets.

The following data failed to load.
[code]

PS. More than happy to record this elsewhere, but it seems like a useful spot for recording data issues.

[2017-06-21 04:31] omad opened #7 "Problems with Contiguity Bit in PQ"
### Expected behaviour
Contiguous masking bit should mask data in case of no data found.

### Actual behaviour
It is not masking data even though red, green and blue bands have no data but nir band has data.
This can be tested on LS7 dataset dated 2002/12/17

### Steps to reproduce the behaviour
This is the code that can be used to check masking bit.

[code]

## Outputs

The important thing to not

[2017-08-04 00:35] benjimin opened #12 "inconsistent metadata_type among products"
Should audit product definitions for consistency in `metadata_type`, and datasets for consistency with products.

Currently in prod db,
[code]
Requires updates to product definition yamls (multiple repos?) plus database fixes. e.g.
[code]

[2017-08-15 06:29] BexDunn opened #13 "Broken file"
Building TCW composite for northern australia, last polygon fails with the following error:
Please can you fix the file when you have time? (can't skip_broken_datasets because dask)
Cheers,
Bex.

HDF5-DIAG: Error detected in HDF5 (1.8.18) thread 140424895678208:
  #000: H5Dio.c line 173 in H5Dread(): can't read data
    major: Dataset
    minor: Read failed
  #001: H5Dio.c line 554 in H5D__read():

[2017-08-15 06:58] jeremyh commented on #13
One of the bands is reliably failing validation:

[code]

[2017-08-15 07:03] jeremyh commented on #13
I've archived the dataset, so it should be ok to rerun @BexDunn

[2017-08-22 05:52] r-cassel opened #14 "Where to find the getting started document"
Some time ago I was emailed this Word document written by Kat Owen

I'd like to help others to get started and it would be useful to point them in the direction of the latest version of this if available.

Cheers
Bec

[AGDC Version 2 “How to” guides v0.1.docx](https://github.com/GeoscienceAustralia/digitalearthau/files/1240928/AGDC.Version.2.How.to.guides.v0.1.docx)

[2017-08-22 05:55] andrewdhicks commented on #14
Hi Bec,

Here's our most up-to-date documentation:
http://geoscienceaustralia.github.io/digitalearthau/

It's still a work in progress, so any feedback would be welcomed!

Cheers,
Andrew

[2017-08-22 06:41] r-cassel commented on #14
Thanks Andrew :)

[2017-08-22 06:43] #14 closed, assigned to nobody

[2017-09-01 06:41] #13 closed, assigned to jeremyh

[2017-10-11 00:06] omad opened #31 "Add Goal-Keeper responsibilities to the documentation"
We need somewhere to refer to for the responsibilities of the rotating goalkeeper role. It doesn't need a lot of detail, could simply be:

# Goal Keeper Responsibilities

## Level 1 Support
- Support requests on opendatacube Slack `#general` and `#develop` channels
- GitHub issues sent to digitalearthau or datacube-core

## Build manager
- Keep the CI loop green
  - Follow up with whoever broke it

[2017-10-11 00:11] smr547 commented on #31
Happy to do this whilst I serve my time as the goalkeeper :-)

[2017-10-11 03:25] smr547 commented on #31
Release manager -- "Refer do documentation" -- Which documentation?

BTW: Work in progress under branch ``smr547-patch-1``

[2017-10-11 03:38] andrewdhicks commented on #31
The DEA build docs are here:
http://datacube-core.readthedocs.io/en/stable/about/release_process.html

The ODC build docs are here:
http://geoscienceaustralia.github.io/digitalearthau/internal/release.html

[2017-10-11 03:50] smr547 commented on #31
Thanks Andrew.

Please review [draft document](https://github.com/GeoscienceAustralia/digitalearthau/blob/smr547-patch-1/docs/internal/goalkeeper_instructions.md)

[2017-10-11 04:37] andrewdhicks commented on #31
Look good!

If we want to keep the page in markdown and have it appear on the http://geoscienceaustralia.github.io/digitalearthau site, we'll need to add Markdown support.

The instructions here: http://www.sphinx-doc.org/en/stable/markdown.html
will need to be applied to the docs build process here:
https://github.com/GeoscienceAustralia/digitalearthau/blob/smr547-patch-1/docs/deploy.sh#L19

[2017-10-11 04:45] andrewdhicks commented on #31
Then you'll be able to add the page to the table of contents on this page:
https://github.com/GeoscienceAustralia/digitalearthau/blob/smr547-patch-1/docs/index.rst

[2017-10-17 01:18] andrewdhicks commented on #31
Just a few things to fix up here, now that we have it rendered by sphinx:
* The **_Goal Keeper Responsibilities_** heading should be demoted in level, so it doesn't cause an extra entry in the ToC.
* The links in the **_Release Manager_** section aren't being rendered as links.

http://geoscienceaustralia.github.io/digitalearthau/internal/goalkeeper_instructions.html

[2017-11-02 03:28] #31 closed, assigned to smr547, andrewdhicks

[2017-11-16 05:00] benjimin opened #53 "Same data, different UUID"
Currently the production DEA has duplicates of a couple thousand scenes. Should these be archived out?

[code]

[2017-11-22 06:36] sixy6e commented on #7
An artefact demonstrated a few years ago, that was more prevalent in Landsat 7 due to the SLC-OFF.  Even though nearest neighbour resampling was used, it didn't guarantee the preservation of a data value for categorical layers.
NBAR(T) are reprojected independently to PQ, but have the advantage of a defined NULL value to enforce the reprojection algorithm to preserve NULL's.  PQ doesn't have this

[2017-11-22 06:38] sixy6e commented on #7
PQ is only there as a prototype and not likely to persist in future collections, without being redesigned.

[2017-11-22 06:38] #7 closed, assigned to sixy6e

[2017-11-24 00:26] omad commented on #6
I believe these have been resolved now.

[2017-11-24 00:26] #6 closed, assigned to nobody

[2017-11-29 05:44] jeremyh commented on #53
Thanks for the report Ben.

It looks like there's a few things going on here.

The biggest error is in the landsat 8 nbar scenes, and is large enough to be [visible on the dashboard](https://data.dea.gadevs.ga/ls8_nbar_scene/timeline):

![screenshot-2017-11-29 platform landsat_8](https://user-images.githubusercontent.com/25688/33358950-dca8545c-d51f-11e7-9708-d2bd340abd1f.png)

(the September 2016

[2018-01-16 00:37] omad opened #69 "Add voluptuous to environment module"
It's now required by stats, and the automatic deployment of stats doesn't handle installing additions dependencies.

Alternatively, fix the automatic deployment, but that's harder...

[2018-01-16 00:58] #69 closed, assigned to nobody

[2018-01-18 03:35] jeremyh commented on #53
Rerun today:
[code]

For nbar, nbart and level1. Closing this issue: further problems can be raised separately.

[2018-01-18 03:35] #53 closed, assigned to nobody

[2018-02-06 04:38] r-cassel opened #74 "Can't load modules from raijin"
Hi

Data cube works fine from VDI

When I try to load any modules from raijin I get this message:

I can locate the ~/.pgpass file on the VDI but I'm unsure where I need to copy it to

please help

cheers

[2018-02-06 04:46] bellemae commented on #74
Hi Rebecca,

The blue note at the bottom of the following doc page has the commands for this. http://geoscienceaustralia.github.io/digitalearthau/connect/nci_basics.html

[2018-03-15 03:40] #5 closed, assigned to nobody

[2018-03-19 04:35] lpinner opened #88 "Making modulespec.yaml-pip_cmd a little more generic"
I've been implementing the `build_environment_module.py some_module/modulespec.yaml` "way of doing things" for installing my QGIS plugin on the NCI  (when conda-forge package QGIS3).

One issue I've encountered is that [`build_environment_module.py`](https://github.com/GeoscienceAustralia/digitalearthau/blob/develop/modules/build_environment_module.py#L150) has the `--prefix` arg hardcoded in the

[2018-03-19 04:49] roarmstrong commented on #88
Seems reasonable to me. Any input @omad or @jeremyh ? My only thought is should we be checking explicitly whether target exists?

[2018-03-19 05:58] omad commented on #88
Yeah, that sounds cool to me. Would definitely accept PR. :)

@roarmstrong Elsewhere I'm ensuring the target directory exists. For this case, I think `pip` might do that for us. Not 100% sure.

[2018-03-19 06:18] lpinner commented on #88
@omad Yep, pip ensures target dir exists - https://github.com/pypa/pip/blob/master/src/pip/_internal/commands/install.py#L363

[2018-03-20 00:53] #88 closed, assigned to nobody

[2018-03-20 03:40] omad opened #90 "Incorrect File Permissions with new module builder"
Something went wrong when building a new `dea-env` which resulted in some files being unreadable for users not in the `v10` group. This is not intentional and needs to be fixed.

Eg.
[code]

The module builder script is setting a umask, but somewhere down the chain it's being changed again, or not respected.

[2018-03-26 03:22] mjb-oz opened #92 "DEM manipulation"
Hi there,

Could pyDEM (https://pypi.python.org/pypi/pyDEM/0.1.1) be added to the DEA module.
It'd be useful for those of us who are using DEA along with some external data.
Currently I have to use ArcGIS or QGIS for this, so being able to generate the results as part of a bigger python workflow would be amazing.

Cheers guys, love your work!

[2018-04-10 07:07] uchchwhash commented on #74
Seems like this was resolved!

[2018-04-10 07:07] #74 closed, assigned to nobody

[2018-05-04 02:36] omad commented on #92
This has been added now.

[2018-05-04 02:36] #92 closed, assigned to nobody

[2018-05-04 02:37] omad commented on #90
Seems fixed now, closing.

[2018-05-04 02:37] #90 closed, assigned to nobody

[2018-05-10 06:40] robbibt opened #112 "Improve documentation of dc.load's `datasets` parameter"
`dc.load` has a very useful parameter `datasets` that lets you feed in a (potentially filtered) list of datasets returned by `dc.find_datasets`. The parameter is documented with:

`:param datasets: Optional. If this is a non-empty list of :class: datacube.model.Dataset objects, these will be loaded instead of performing a database lookup`

However, if the user follows this instruction directly, th

[2018-05-10 22:31] jeremyh commented on #112
We should probably make `dc.load` grab the product from the datasets themselves anyway. Otherwise users could specify a different product from the datasets they are giving.

(simplest option: `product=datasets[0].type`, +validation)

[2018-05-17 04:31] Kirill888 opened #115 "Warnings about s3aio"
When calling `dc.load` for the first time warnings are printed "Failed to resolve driver datacube.plugins.io.read::s3aio"

[code]

Error is due to missing sharedarray dependency in the s3 drivers or something, but really datacube should not be installed with `s3` option.

[2018-05-17 05:51] omad commented on #115
The error is due to `boto3` being the _wrong_ version.
[code]

I'm not sure why the `s3` drivers are being installed. I think it must be to do with whichever package format is being used not supporting the requirement restrictions on the `entry_points` and installing them all by default...

[2018-05-17 06:00] Kirill888 commented on #115
but when you get pass that you'll get

[code]

[2018-05-17 06:05] Kirill888 commented on #115
Is this where datacube is installed from?

https://github.com/GeoscienceAustralia/digitalearthau/blob/2a0bc7db4f8b1cd113b7d06c04b3d7a6c0e1b5c1/modules/dea/requirements.txt#L1

you can append `[celery,test,replicas,distributed]` to that and see if it helps

[2018-05-30 03:53] benjimin opened #117 "keras"
Can we add the machine learning library "keras" to the conda install recipe, for the dea python environment please?

(I assume this will pull in TensorFlow as a dependency. At this stage we're probably just after the CPU version, but after it is working the next thing we'll want from conda is likely to be "tensorflow-gpu".)

[2018-05-31 05:51] robbibt opened #118 "Add 'rasterstats' to default DEA python modules"
The `rasterstats` Python module (https://github.com/perrygeo/python-rasterstats) contains many very useful tools for raster + vector operations, and is currently being pip-installed by many members of the science teams.

It would be fantastic if this could be added to the default DEA python modules.
@omad @cbur24 @CEKrause

[2018-06-05 06:36] andrewdhicks opened #121 "Add `rios` to default dea environment"
The `rios` library is needed for the LCCS project

[2018-08-17 02:03] Kirill888 opened #154 "Propose to change name for `tile_id` field of ARD products"
Current ARD products include a top-level property called `tile_id`, this maps to `SceneId` in case of Landsat imagery and to `GranuleIdentifier` (also referred as `TILE_ID` in some xml metadata files).

I think `tile_id` is a confusing name, my first guess was that it's a unique id for a spatial region that this dataset covers, like `path,row` in case of Landsat or MGRS code for Sentinel.  It is n

[2018-09-28 00:18] jeremyh opened #165 "Several products have algorithm version as '${version}'"
Example [WOfS dataset](https://data.dea.gadevs.ga/dataset/9c520951-aee9-4a20-8232-00deb1609836) algorithm section:

![screen shot 2018-09-28 at 10 04 27 am](https://user-images.githubusercontent.com/25688/46180821-f5bf2e00-c305-11e8-9919-c890789204df.png)

Here's a query for all products with this issue. For most of them it's a small percentage of the total, except WOfS:

| Product

[2018-09-28 00:35] jeremyh commented on #165
Rerun including the datacube version:

| product          | datacube_version     | algorithm       | version    | count   |
|------------------|----------------------|-----------------|------------|---------|
| ls7_nbar_albers  | 1.1.10               | datacube-ingest | 1.0.5      | 32364   |
|                  | 1.1.13               | datacube-ingest | 1.0.5      | 430875  |
|                  |

[2018-09-28 01:43] omad opened #166 "Duplicate datasets for multiple products on the NCI"
During recent ingest runs (Scenes -> Albers tiles) about 50,000+ duplicate tiles have been created for the `ls8_nbar_albers` product in 2018.

It's possible that duplicate data will be returned for anyone using this product!

I'm currently investigating:

1. How to safely remove the duplicates.
2. Whether other products are also affected.
3. What caused the bug in the first place.

[2018-09-28 08:06] omad commented on #166
There are quite a few products with large numbers of duplicate datasets (2018 only):

| prod_name | actual | num_dupes | total |
| - | - | - | - |
| s2a_level1c_granule | 42568 | 1298 | 43866 |
| s2b_level1c_granule | 45750 | 1857 | 47607 |
| ls7_fc_albers | 45491 | 13539 | 59030 |
| ls8_fc_albers | 78389 | 4432 | 82821 |
| ls8_nbar_albers | 73076 | 64803 | 137879 |
| ls7_nbar_albers | 42582 | 0 |

[2018-10-02 01:23] Kirill888 commented on #166
Ingest is not re-entrant. Running ingest second time on the same product while the first run is still in progress will generate duplicate datasets that only differ by uuid (computed via non-deterministic method) and creation time.

1. Figure out what to do for a given product
2. Generate ingested files (with random uuids)
3. Add to index

There are no locks of any kind, and uuid is generated at ra

[2018-10-11 23:59] omad opened #170 "Inconsistent Python Environment Variables"
## Problem
When using `module load dea` the `PYTHONUSERBASE` environment variable is being set to the wrong path, and doesn't match `PATH` or `PYTHONPATH`.

`PYTHONUSERBASE` is being set based on the version of `dea` module, but should be set based on the version of `dea-env` module.

## Background

It's intended that users of the DEA NCI Environment Modules be able to install extra python package

[2018-10-12 00:01] omad opened #171 "Add mpi4py module to dea-env"
`mpi4py` should be available from `condo-forge`, and includes features that could be used for parallelising some of our code.

In particular, I'm interested in the [`MPIPoolExecutor`](https://mpi4py.readthedocs.io/en/stable/mpi4py.futures.html) which might work as a drop in replacement for `ProcessPoolExecutor`.

[2018-10-12 06:06] omad opened #173 "Add checksumdir to DEA Environment"
It was recently added as a dependency of `eo-datasets`. See
https://github.com/GeoscienceAustralia/eo-datasets/commit/b44b7102cdf1a805db2d74d94a9c3a2f9913cd0b#diff-2eeaed663bd0d25b7e608891384b7298

Check whether to install from PyPI with `pip` or from condo-forge.

[2018-10-16 00:02] santoshamohan commented on #173
`checksumdir` (v1.1.4) added to new `dea` module, `dea/20181015`.

[2018-10-16 00:02] #173 closed, assigned to santoshamohan

[2018-10-16 00:03] santoshamohan commented on #171
`mpi4py` (v3.0.0) added to new `dea` module, `dea/20181015`.

[2018-10-16 00:03] #171 closed, assigned to santoshamohan

[2018-10-16 00:04] santoshamohan commented on #170
Fixed in new `dea` module, `dea/20181015`.

[2018-10-16 00:04] #170 closed, assigned to santoshamohan

[2018-10-16 00:04] santoshamohan commented on #121
`rios` (v1.4.6) added to new `dea` module, `dea/20181015`.

[2018-10-16 00:04] #121 closed, assigned to santoshamohan

[2018-10-16 00:06] santoshamohan commented on #118
`rasterstats` (v0.13.0) added to new `dea` module, `dea/20181015`.

[2018-10-16 00:06] #118 closed, assigned to santoshamohan

[2018-10-16 00:07] santoshamohan commented on #117
`Keras` (v2.2.4) added to new `dea` module, `dea/20181015`.

[2018-10-16 00:07] #117 closed, assigned to santoshamohan

[2018-10-16 01:08] robbibt opened #175 "Slow performance for Sentinel 2 when lazily loading data with Dask"
I'm having issues with very slow performance when lazily loading Sentinel 2 using `dask`. Usually `dc.load()` with `dask_chunks` activated loads almost instantly, however Sentinel 2 data often takes several minutes to complete this step. This delay occurs before `.compute()` has been called, so is likely not related to Sentinel 2's greater data volume.

For Landsat 8, this small approximately 8 x

[2018-10-17 00:30] omad opened #176 "mpi4py package doesn't work correctly in PBS jobs"
The `mpi4py` package from conda-forge doesn't seem to integrate properly into the PBS system on the NCI, it's only aware of a single node, not multiple nodes.

We should either remove it, or investigate making it work correctly.

The current work around is to not use the `dea` modules, and `module use mpi4py/3.0.0` instead. It is compiled and supplied by the NCI, but only works with their `python`

[2018-10-23 06:24] jeremyh opened #179 "lustre paths should be normalised to the symlink "/g/data""
A few products have been indexed with their location resolved to a specific lustre drive (eg. `/g/data2`) rather than the symlink `/g/data`.

Query of unique `file:///` prefixes:

| prefix    | example                                                                                                                                       |
|--------|----------------------------------------------------

[2018-10-24 01:40] Kirill888 commented on #179
Datacube is using `Path(dir).absolute()` , if `dir` is supplied as absolute path it will remain as `/g/data/...`, if however `dir` is relative to begin with if will be resolved to `/g/data{2,1a,..etc}` as we can't know about those symlinks and their meaning.

So I don't think `datacube update` resolves symlinks if given absolute paths on input, have you (@jeremyh ) observed that behaviour when sup

[2018-10-24 02:37] jeremyh commented on #179
You're right, datacube is only using `absolute()`. It looks like Python's `os.getcwd()` shows different results to bash's `pwd` and `$PWD`, so the plain `absolute()` gets "resolved":

[code]

(& it's fine with absolute paths)

[2018-10-24 02:47] jeremyh commented on #179
Python's using the underlying syscall, which doesn't remember symlinks:

[2018-10-24 03:24] Kirill888 commented on #179
hm, wonder how `pwd` does it's thing, would be nice to be able to just `cd` into symlinked path and index relative to that without worrying about symlinks upstream.

[2018-10-24 04:19] jeremyh commented on #179
It looks like it reads the `$PWD` environment variable. We _could_ do that ourselves with `os.environ['PWD']` (it's in the [posix standard](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap08.html#tag_08_03), not specific to bash).

[code]

There's always still the possibility of users making mistakes, so having dea's own scripts normalise the path on NCI still seems worthwhile to m

[2018-10-25 00:43] omad commented on #179
I think the only sane way is going to be normalising to an absolute path, which ignores the symlinks. If the NCI or anyone else moves data around, we rewrite the locations.

Either that, or we put in a special case for the NCI which rewrites `/g/data*/` to `/g/data`, but that just seems unnecessarily complicated.

[2018-10-25 00:47] Kirill888 commented on #179
@omad I think using `PWD` if available is sane enough, so long as you are careful to check that it matches your actual working directory (not too hard to do). Having NCI specific rules is ok in digitalearthau repo, but not in odc.

[2018-10-25 05:23] jeremyh commented on #179
At the risk of complicating the issue, do we want to do something with band paths too?

Some of the newer products are using absolute band paths, which we previously avoided.

Band path query:

| absolute prefix |  count    |
|-----------------|----------:|
|  /g/data/       |   3,687,814 |
|  /g/data1/      |        36 |
|  ¤              |  77,704,776 |

[2018-10-25 05:40] jeremyh commented on #179
With product names:

| product             | prefix    | count     |
|---------------------|-----------|-----------:|
| bom_rainfall_grids  | /g/data  | 41,591    |
| srtm_dem1sv1_0      | /g/data  | 3         |
| s2a_level1c_granule | /g/data  | 2,445,425 |
| s2b_level1c_granule | /g/data  | 1,200,795 |
| gamma_ray           | /g/data1 | 36        |

[2018-10-25 05:41] Kirill888 commented on #179
Absolute paths in dataset documents are a bad idea and should probably generate warning when indexing.

I think we need to fix those, and in case of sentinel fix the script that generated them

[2018-11-01 22:19] omad commented on #175
Looking at the database, there are several indexes on the `s2a_ard_granule` product which haven't been created properly.

I attempted to create them yesterday, but without much luck, I'll try again and keep an update here.

[2018-11-05 02:05] robbibt opened #185 "Jupyter notebooks desktop link uses the wrong DEA module"
The DEA user guide (http://geoscienceaustralia.github.io/digitalearthau/connect/install.html) recommends that users run the following script to create an icon on their desktop which allows them to launch Jupyter Notebooks:

`sh /g/data/v10/public/digitalearthau/install.sh`

This creates the file `g/data/v10/public/digitalearthau/dea.desktop`, which contains the following command:

[code]

This loa

[2018-11-14 06:41] santoshamohan commented on #185
Updated `g/data/v10/public/digitalearthau/dea.desktop` config file to load default `dea` module.
When the users run `g/data/v10/public/digitalearthau/install.sh` script, `Digital Earth Australia` icon shall load default `dea` module.

[2018-11-14 06:41] #185 closed, assigned to nobody

[2018-11-23 05:51] jeremyh opened #190 "Incorrect grid spec defined for ls8_barest_earth_mosaic"
A few people have pointed out oddly-small cells on the [grid view of barest earth mosaic](https://data.dea.gadevs.ga/ls8_barest_earth_mosaic):

![barest-earth-grid-spec-fs8](https://user-images.githubusercontent.com/25688/48929440-f1e20d80-ef3c-11e8-8708-78d254e20e46.png)

Note that the outer footprint boundary looks correct. The footprint boundary is generated from unioning the dataset extents, w

[2018-12-05 03:32] robbibt opened #196 "Add `cmocean` to default DEA environment"
I'd like to propose a new DEA default module: `cmocean` contains a wide selection of geoscience-themed Matplotlib colour maps that have been optimised to :

1) Reflect real-world phenomena like intensity, depth, concentrations, turbidity, temperature
2) Be interpreted in a logical and linear way by human eyes ('perceptually uniform')
3) Be (mostly) colourblind friendly

https://matplotlib.org/cmoc

[2019-01-21 23:20] santoshamohan opened #201 "FileExistsError: dea-sync"
When two or more `dea-sync` jobs run at the same time for a given product, these `sync` try to access the same `cache` file and reports following error.

[code]

[2019-01-22 03:48] jeremyh commented on #201
I noticed this! This last line should probably be an error/exception, not an (easily missable) warning:
https://github.com/GeoscienceAustralia/digitalearthau/blob/b69c6820cf6a98e59165875dcb9f206288fa5235/digitalearthau/sync/submit_job.py#L361-L364

(it may fail anyway, if two jobs are running in the same second, as one job may create the directory after the other's `exists()` check)

[2019-01-22 03:59] jeremyh commented on #201
See previous behaviour: https://github.com/GeoscienceAustralia/digitalearthau/commit/db50e9e6d08d1f6e4494f8e8fb58d34ae566ec26#diff-b727d9e0c89f11d1f551285fe3093c95L358

Note that dea-sync allows you to specify the work directory as a parameter, so you could explicitly give jobs separate folders, rather than the default time-based names (assuming that's not already being done -- I'm a bit ignorant

[2019-01-25 04:45] santoshamohan commented on #176
Installing `openmpi/3.1.2` version of `NCI` package on top of `dea/20181015` package does work. Tested with following setup:
- Number of nodes = 31
- Number of CPU's = (31 * 16)
- Memory requested = (31 * 16 * 4)

[code]
Using the above PBS script it was observed that the `mpirun` program was distributed across all 31 `nodes` and > 85% job efficiency was achieved.

[2019-01-25 04:47] santoshamohan commented on #176
`openmpi` version lesser than `3.1.2` did not work with the latest `dea` module (`dea/20181015`). The reason being, `dea` module had `openmpi/3.1.2` version packaged with it.

[2019-01-25 04:57] omad commented on #176
Awesome work finding this out!

We should just document this and move on, I don't think we want to automatically load `openmpi` when loading the `dea-env` module...

[2019-01-30 22:26] omad commented on #176
So, MPI solution = `module load openmpi/3.1.2`

[2019-01-30 22:26] #176 closed, assigned to nobody

[2019-02-08 02:31] santoshamohan commented on #196
`cmocean` is now available in  `dea-env/20190329` and `dea/20190329` modules.

[2019-02-13 00:31] santoshamohan commented on #201
The `FileExistsError` issue I have noticed is when an attempt is made to write to the cache file that already exists.

I suspect the following code, please suggest:
https://github.com/GeoscienceAustralia/digitalearthau/blob/0ebf5e38dc16c637235d5fbb41944ff4b69eabb7/digitalearthau/sync/scan.py#L54-L69

Though `cache` file has been created recently by the `sync` process, the logic considers that the

[2019-02-13 03:22] jeremyh commented on #201
The default definition of "old" for caches is defined here: https://github.com/GeoscienceAustralia/digitalearthau/blob/0ebf5e38dc16c637235d5fbb41944ff4b69eabb7/digitalearthau/sync/scan.py#L28-L29

The cache is usually pre-built on job submission. My guess is that more than this time elapsed while the jobs sat in the pbs queue. So, as soon as they started, multiple jobs tried to update the cache at

[2019-02-14 01:21] santoshamohan opened #205 "`digitalearthau.runners.celery_environment` not compatible with latest revision of `redis-py` conda package"
`FC/WOfS/Datacube-stats` app that relies on `Redis and Celery` reports `ERROR/MainProcess] Error on stopping Pool: TypeError("can't pickle _thread.lock objects",)` when the latest revision (v3.1.0) of `redis-py` `conda` package is used.

The same app works fine on `redis-py (v2.10.6)` revision.

Error log:
[code]

### Expected behaviour
`datacube-fc/datacube-wofs/datacube-stats` command is expecte

[2019-03-15 03:22] Kirill888 opened #208 "Creating sample netcdf stops working with netCDF4>1.4.1"
Something changed in the way string/byte data is handled by netCDF4 lib starting from version 1.4.2 and up. Last version where this code works is 1.4.1:

https://github.com/GeoscienceAustralia/digitalearthau/blob/e21f51bc809d2b3c374de311493cf730d67ec1c8/integration_tests/test_move.py#L217-L220

[2019-03-18 00:10] Kirill888 commented on #208
Issue turned out to be with binary distribution of `netCDF4` library, calling `import neCDF4` before calling `import numpy` makes code above work. So does compiling `netCDF4` locally instead of pulling in binaries. So it's not API changes or anything, just bad binary distribution.

[2019-03-19 04:34] #201 closed, assigned to nobody

[2019-03-20 00:50] Kirill888 commented on #208
Won't fix, problem is with binary distribution upstream

[2019-03-20 00:50] #208 closed, assigned to nobody

[2019-04-18 00:04] #196 closed, assigned to nobody

[2019-04-18 00:07] santoshamohan opened #214 "Add `jupyterlab-git` to default DEA environment"
A JupyterLab extension for version control using git.
[jupyterlab-git](https://github.com/jupyterlab/jupyterlab-git)

[2019-04-18 00:20] Kirill888 opened #215 "Add `@jupyter-widgets/jupyterlab-manager` extension to default DEA environment"
Jupyter lab component of ipywidgets:

https://ipywidgets.readthedocs.io/en/stable/user_install.html#installing-the-jupyterlab-extension

[2019-04-18 00:22] Kirill888 opened #216 "Add nbdime extension to DEA env."
`nbdime` is a tool that allows you to visually diff notebook changes, very handy.

https://nbdime.readthedocs.io/en/latest/installing.html

[2019-05-03 01:14] andrewdhicks opened #220 "Add `jupyter-leaflet` lab extension to DEA env"
We currently have ipyleaflet for jupyter notebooks. It would be great to have it for jupyterlab as well!

`jupyter labextension install jupyter-leaflet`

More info at https://ipyleaflet.readthedocs.io/en/latest/installation.html
Thanks!

[2019-05-09 01:52] andrewdhicks opened #221 "Add dask-labextension to DEA env"
The dask-labextension makes it easier to manage dask clusters from jupyter lab, including port forwarding of dashboards from the cluster to the browser.

Info here:
https://github.com/dask/dask-labextension

[2019-05-10 04:24] santoshamohan commented on #214
`jupyterlab-git` lab extension is added as part of [dea-orchestration: PR#121](https://github.com/GeoscienceAustralia/dea-orchestration/pull/121/files)

[2019-05-10 04:25] santoshamohan commented on #215
`@jupyter-widgets/jupyterlab-manager` lab extension is added as part of [dea-orchestration: PR#121](https://github.com/GeoscienceAustralia/dea-orchestration/pull/121/files)

[2019-05-10 04:25] santoshamohan commented on #216
`nbdime` extension is added as part of [dea-orchestration: PR#121](https://github.com/GeoscienceAustralia/dea-orchestration/pull/121/files)

[2019-05-10 04:27] santoshamohan commented on #220
`jupyter-leaflet` lab extension is added as part of [dea-orchestration: PR#121](https://github.com/GeoscienceAustralia/dea-orchestration/pull/121/files)

[2019-05-10 04:39] santoshamohan commented on #221
`dask-labextension` lab extension is added as part of [dea-orchestration: PR#121](https://github.com/GeoscienceAustralia/dea-orchestration/pull/121/files)

[2019-06-03 06:37] omad opened #223 "Unset PROJ_LIB environment variable in dea-env"
The error below happened when trying to run an old script in the current `dea` environment. This is due to the `PROJ_LIB` environment variable not being set.

![proj_lib_bug](https://user-images.githubusercontent.com/108979/58780671-fb9baa80-861c-11e9-8959-336f78b4f0ec.png)

The `dea-env` module is based on a `conda` environment, which usually sets environment variables specified in `etc/conda/act

[2019-06-26 02:29] omad opened #226 "Don't create a top level tests module"
We are, and need to stop, installing a top level `tests` module when installing this python package.

It's far too generic a name, and can easily cause non-obvious problems for people writing their own tests.

The code should either be moved inside the `digitalearthau` module, or not installed.

[2019-07-23 07:35] Kirill888 opened #227 "Wofs masking for nodata is missing false case"
https://github.com/GeoscienceAustralia/digitalearthau/blob/12af0ede1ea5994e948cfd964602c37c63af082d/digitalearthau/config/products/wofs_albers.yaml#L14-L17

[code]

[2019-08-14 06:05] omad opened #232 "Have one and only one URL for documentation"
We currently build the DEA user guide from this repository. Identical copies are published to *two* different URLs. This build and deploy runs in TravisCI.

1) https://geoscienceaustralia.github.io/digitalearthau/ (Served in GitHub Pages from the `gh-pages` branch of this repository)
2) https://docs.dea.ga.gov.au/ (Served from AWS S3+Cloudfront)

We should simplify to only use the second url, and

[2019-09-18 04:36] BexDunn opened #240 "add links to explorers in documentation"
Add links to the visual extents of data in the documentation

[2019-09-23 04:16] jeremyh commented on #179
Got an email from NCI -- they're moving `gdata2` projects to `gdata3`. If we still have any paths not normalised to the symlink they'll stop working.

https://opus.nci.org.au/pages/viewpage.action?pageId=48497032

|proj|date|
|-- | --|
|v10 | Mon, 30-Sept|
|rs0|Fri, 4-Oct|
|fk4|Mon, 7-Oct |

[2019-12-02 05:13] #232 closed, assigned to nobody

[2019-12-16 03:37] santoshamohan commented on #205
This issue is fixed in the latest dea module

[2019-12-16 03:37] #205 closed, assigned to nobody

[2020-01-10 00:17] uchchwhash opened #248 "Ingested product init is broken"
Since https://github.com/opendatacube/datacube-core/pull/838 we validate our ingest yaml. The ones here do not pass that validation (because of some additional properties they define which are unknown to the validator).

[2020-01-10 00:29] richardt94 opened #249 "qsub submodule broken on Gadi"
The constant NUM_CPUS_PER_NODE should now be 48 and the amount of memory per node is not enough to support 'large' (8GB per core) memory requests due to the higher number of cores. PBS jobs now also need storage flags to be able to see anything in /g/data (e.g. the DEA environment which is stored in /g/data/v10).

[2020-02-02 23:27] uchchwhash commented on #248
Fixed by https://github.com/opendatacube/datacube-core/pull/860.

[2020-02-02 23:27] #248 closed, assigned to uchchwhash

[2020-03-17 03:38] robbibt opened #253 "Add latest version of `odc.algo` to NCI environment"
The latest version of `odc.algo` (https://github.com/opendatacube/odc-tools/tree/master/libs/algo) is required to allow us to roll out the dask-optimised version of `load_ard` here: https://github.com/GeoscienceAustralia/dea-notebooks/pull/527

We need it to be available in the default `module load dea` before we accept the PR above.

It can be installed via:

`pip install --extra-index-url="https

[2020-03-18 03:07] uchchwhash opened #254 "FC annual percentile bad indexing"
Try this:
[code]
It shows two datasets (there should only be one). One of them is without any locations. We suspect there are more like these.

Reported by @bellemae .

[2020-03-18 03:28] alexgleith commented on #253
This has been done, right @omad?

[2020-03-18 03:58] omad commented on #253
Done in code but not deployed yet

[2020-03-19 11:11] uchchwhash commented on #254
Thanks @omad!

[2020-03-19 11:11] #254 closed, assigned to nobody

[2020-04-01 02:53] robbibt opened #255 "ModuleNotFoundError: No module named 'jupyter_ui_poll'"
I've just tried running some code on `module load dea/unstable` on the NCI that was working correctly last week:

[code]

This now produces this error:
[code]

[2020-04-01 04:36] omad commented on #255
Okay, that one is fixed now, thanks for letting me know.

[2020-04-01 04:36] #255 closed, assigned to omad, alexgleith

[2020-04-07 00:41] robbibt opened #256 "Update `geopandas` to version 0.7.0 to match DEA Sandbox"
The current version of `geopandas` in the DEA NCI environment (`dea/unstable`) is:
[code]
Version 0.7.0 makes a major change in the way CRS objects are represented (i.e. pyproj CRS objects vs dictionaries) which will need to be addressed soon to avoid science team code from breaking. The latest version is also more compatible with datacube 1.8, which should make it easier to interest between vecto

[2020-05-08 03:14] omad commented on #256
Sorry, this totally missed my attention. I'm not sure why it hasn't updated in `dea/unstable` yet but I'll look now. There might be something pinning it to an old version ¯\_(ツ)_/¯

[2020-05-08 03:43] omad commented on #256
All the upstream dependencies (including geopandas) are in the `dea-env` module, and I'd forgotten to rebuild that for a really long time.

I'm creating a new version of it now, and if successful, will redo `dea/unstable` which will point to the latest `dea-env`. Should include new versions of *lots* of things, hopefully doesn't break anything else...

[2020-05-08 03:56] robbibt commented on #256
Awesome, thanks @omad ! I'm using `dea/unstable` pretty heavily at the moment, so will hopefully be able to pick up anything that breaks dramatically. Can you ping me when you think `dea/unstable` is ready to test?

[2020-05-08 05:37] omad commented on #256
Update: This isn't going as smoothly as I hoped, the `dea-env` module has a _massive_ list of conda-forge and other conda packages in it, and it's having trouble resolving a set of versions that will work. I might need to trim and retry, but it's taking a long time to even say anything.

Will post when I have more news.

[2020-05-22 02:07] robbibt opened #257 "Update `module load dea` to use Datacube v1.8"
`datacube` version 1.8 has recently been released (https://github.com/opendatacube/datacube-core/releases/tag/datacube-1.8.0).

It would be great to have the default `module load dea` environment updated to use `datacube` version 1.8 so that we can release important updates to science team code that currently depend on version 1.8 (e.g. https://github.com/GeoscienceAustralia/dea-notebooks/pull/527

[2020-05-28 06:22] alexgleith commented on #257
I believe @Kirill888 has implemented this into a test module.

Can we get some details about that Kirill, so that we can get some folks to test it?

[2020-05-28 06:26] Kirill888 commented on #257
We do have a new environment on gadi ready for testing - `dea/20200526` . Some libraries had to be dropped, for now, as they conflicted with other packages.

- `pytorch`
- `rsgislib`

`pytorch` can be installed via pip though, and for `rsgislib` we have to wait until they sort out `libgeos-3.8` issues (https://github.com/conda-forge/rsgislib-feedstock/pull/31).

We are yet to test it beyond basic

[2020-05-29 01:35] robbibt commented on #257
Nice, I'll test it out!

[2020-05-29 04:51] robbibt commented on #257
I'm having an unexpected issue with  `module load dea/20200526`. When I launch Jupyterlab from the VDI, the Firefox window freezes and after a few seconds I get the warning below. Regardless of what I do from here, the window remains frozen and I can't interact with Jupyterlab.

![image](https://user-images.githubusercontent.com/17680388/83222570-f33c6800-a1bb-11ea-8b87-6455ef596f25.png)

This wor

[2020-05-29 05:37] robbibt commented on #257
^ So far no-one else can reproduce this, so it seems like it's something on my end (although clearing Firefox's cache and restarting the VDI has no effect, and it still works correctly on `module load dea`). Hopefully it will magically resolve itself by next week...

[2020-05-29 05:56] Kirill888 commented on #257
it could be various jupyter{lab} config/cache folders. When I had similar problem, I was suspecting git-related extensions for some reason I no longer recall, so maybe switching to a clean checkout might help.

[2020-06-02 02:27] eloise-b opened #258 "Problem importing hdstats on VDI"
Hi folks,
I'm working in the VDI environment to do some testing, and I was trying to import `hdstats` (with `module load dea` loaded), but get this error:

[code]

Others have found this too. It works fine on Gadi if you ssh, but not on the VDI. This possibly because they have different versions of glibc?

[2020-06-03 04:20] robbibt commented on #257
Hi everyone,

I've just audited DEA Notebooks on the NCI using both `module load dea` and the new `module load dea/20200526`.

My overall finding is that significantly more code fails on `module load dea` than `module load dea/20200526` (more details: https://github.com/GeoscienceAustralia/dea-notebooks/issues/507#issuecomment-637940989), but these failures haven't been noticed until now. `module

[2020-06-03 05:56] omad commented on #257
I'm working on updating `module load dea` now. There's already `20200602`, and I'm about to roll another (hopefully) to fix WOfS breaking in April.

[2020-06-24 01:16] robbibt opened #260 "Importing `hdstats` fails with "`GLIBC_2.14' not found" error on VDI"
Importing the `hdstats` Python package fails on the VDI with the following error. This currently makes it impossible to compute geomedians on the VDI.

The `hdstats` package can be correctly imported on Gadi.

[code]

[2020-06-24 06:39] omad commented on #260
Hi @robbibt, thanks for reporting this. I've rebuilt `hdstats` as a _manylinux wheel_ and reinstalled it in the current environment module, which should make it work on both Gadi and VDI.

Can you please check and report back.

[2020-06-24 23:32] robbibt commented on #260
Hey @omad , when I try to do a `import hdstats` I get this error on VDI and Gadi:

[code]

I've shut down my notebook server and re-started, but it still appears.

[2020-06-25 00:01] omad commented on #260
Oh dear, I really didn't make that better! 🤭

It should be fixed now, and I've even tested it myself on Gadi and VDI since I'm not in a rush.

Let me know if you still have troubles. And sorry for the mess up.

[2020-06-26 00:10] robbibt commented on #260
Haha, no problem at all - it's all working nicely on both the VDI and Gadi for me now. Will close the issue!

[2020-06-26 00:10] #260 closed, assigned to omad

[2020-06-26 00:11] robbibt commented on #258
Closed by changes for #260

[2020-06-26 00:11] #258 closed, assigned to nobody

[2020-06-26 00:11] robbibt commented on #256
This is now completed. Thanks @omad!

[2020-06-26 00:11] #256 closed, assigned to omad, alexgleith

[2020-06-26 00:12] robbibt commented on #257
This is now completed

[2020-06-26 00:12] #257 closed, assigned to omad, alexgleith

[2020-06-26 00:12] robbibt commented on #253
This is now completed

[2020-06-26 00:12] #253 closed, assigned to omad, alexgleith

[2020-06-26 00:12] robbibt commented on #220
This is now completed

[2020-06-26 00:12] #220 closed, assigned to nobody

[2020-06-26 00:13] robbibt commented on #221
This is now completed

[2020-06-26 00:13] #221 closed, assigned to nobody

[2020-06-26 00:13] robbibt commented on #216
This is now completed

[2020-06-26 00:13] #216 closed, assigned to nobody

[2020-06-26 00:13] robbibt commented on #214
This is now completed

[2020-06-26 00:13] #214 closed, assigned to nobody

[2020-06-26 00:13] robbibt commented on #215
This is now completed

[2020-06-26 00:13] #215 closed, assigned to nobody

[2020-06-26 06:00] jeremyh commented on #190
Fixed already

[2020-06-26 06:00] #190 closed, assigned to nobody

[2020-09-29 08:58] wouellette commented on #260
Any chance of making the `hdstats` package a PyPI package? Or provide the extension as part of Dale Roberts' `hdmedians`?

[2020-11-12 00:26] robbibt commented on #175
Fairly certain this has been resolved

[2020-11-12 00:26] #175 closed, assigned to nobody

[2020-12-10 22:32] erin-telfer opened #275 "Issue with importing hdstats on VDI"
Cannot import `hdstats` or use `odc.algo.xr_geomedian()` as it relies on `hdstats` within the dea module.
![image (1)](https://user-images.githubusercontent.com/16248370/101837856-cec23f00-3b93-11eb-845e-08cdf1983c76.png)

[2020-12-10 22:33] erin-telfer commented on #275
Looks similar to https://github.com/GeoscienceAustralia/digitalearthau/issues/260

[2021-02-24 08:32] alexgleith opened #277 "The NIR band has an alias of red"
https://github.com/GeoscienceAustralia/digitalearthau/blob/085d69cb6ecc7f277b37be80531de01208ec9caf/digitalearthau/config/eo3/products-aws/ard_ls7.odc-product.yaml#L44

https://github.com/GeoscienceAustralia/digitalearthau/blob/085d69cb6ecc7f277b37be80531de01208ec9caf/digitalearthau/config/eo3/products/ard_ls7.odc-product.yaml#L44

These need to be fixed and then applied on 3 AWS DBs and the NCI D

[2021-03-03 05:01] robbibt opened #280 "Add string representation of CRS as a new metadata field in C3 products"
It would be valuable for users to be able to query GA Collection 3 data by a dataset's native CRS. For example, this could be used as a filter to load only `EPSG:32656` data along a UTM boundary where both `EPSG:32655` and `EPSG:32656` CRSs exist (e.g. to ensure all data is loaded in native CRS with no resampling).

This could be resolved by:
-  Adding a new metadata field to GA Collection 3 produ

[2021-03-04 04:00] jeremyh commented on #280
- Added to the definitions in #281

- Deployed to NCI datacube:
[code]
---

@whatnick Who should we assign to run the same update on AWS+Sandbox datacubes?

[2021-04-19 06:23] alexgleith commented on #280
Probably needed to have assigned me, @jeremyh!

[2021-04-30 00:23] jeremyh commented on #280
Deployed by @omad to the AWS sandbox and dev databases.

Closing issue (reopen if you find problems)

[2021-04-30 00:23] #280 closed, assigned to jeremyh, whatnick

[2021-05-06 04:43] omad opened #290 "Add aws-vault related scripts into NCI module"
There are a few [aws-vault](https://github.com/99designs/aws-vault/) related scripts which have been added by hand to the `dea` module on the NCI. These need to be added into the [module generation code here](https://github.com/GeoscienceAustralia/digitalearthau/tree/develop/nci_environment/dea).

I’d suggest adding a `scripts/` dir there, and they’ll need to be recorded in the [`copy_files` secti

[2021-05-10 03:00] #290 closed, assigned to uchchwhash

[2021-06-28 00:37] robbibt commented on #112
This has been fixed for a long time, closing

[2021-06-28 00:37] #112 closed, assigned to nobody

[2021-07-06 01:10] s-m-t-c opened #298 "Module install request"
I require`odc.io.cgroups` and `dask_ml` to be installed for some of the ML notebooks to work correctly on the VDI.

[2021-07-20 03:55] robbibt opened #299 "Improve naming and description of Sandbox Explorer STAC catalogue"
## Issue
Currently the Sandbox Explorer provides the STAC endpoint to the production database for DEA data on AWS: https://explorer.sandbox.dea.ga.gov.au/stac/

Matthias Mohr recently added this endpoint to the official STAC index (https://stacindex.org/catalogs/digital-earth-au#/), and pointed out that the STAC catalogue metadata could be improved: https://twitter.com/matthmohr/status/14171275627

[2021-07-20 06:48] jeremyh commented on #299
Agreed -- it would be nice to make these more consistent.

They're all defined by the cloud team's deployments in the [datakube-apps repo](https://bitbucket.org/geoscienceaustralia/datakube-apps/):

These are the current values in master:
[code]
and dev:
[code]

... and none of them seem to have 'description' set

[2021-07-21 00:05] robbibt commented on #299
So many explorers! I guess I've been assuming the Sandbox Explorer would be our "official" STAC endpoint, but perhaps it would be 'AWS_Explorer' instead? Or one of the "latest" ones? Either way, I think it would be idea if we could choose one to be the main endpoint we advertise as our best public facing metadata, and name it accordingly so users don't have to think too much about which endpoint t

[2021-07-21 06:37] dunkgray opened #300 "Adding an attribute to the searchable fields in Landsat c3 ard"
Hi,
It would be useful if  landsat_product_id is in the searchable fields in Landsat c3 ard.  This would speed up determining which L1's to process.

[2021-07-21 06:39] dunkgray opened #301 "Adding an attribute to the searchable fields in Landsat c3 l1"
Hi,
It would be useful if local_path is in the searchable fields in Landsat L1.  This would speed up determining which L1's to process.

Thanks
Duncan

[2021-07-22 06:40] robbibt opened #302 "Make `landsat:wrs_path` and `landsat:wrs_row` metadata searchable in Landsat C3 ARD"
Although we are currently able to search by `region_code` in Landsat C3 ARD, this makes it difficult to search for data acquired along an entire Landsat path or row. It would be useful if the `landsat:wrs_path` and `landsat:wrs_row` metadata were made searchable in Landsat C3 ARD and all derived products.

[2022-02-04 05:48] dunkgray commented on #301
I found out this can't be done since local_path is not in the metadata.

Jez gave this tip though;
local_path isn't doable from a type, as it's not a metadata field -- but you should be able to search via uri.  Just convert your local path to a file:// uri.
It's easy if you're using pathlib: Path(path).as_uri()

[2022-02-04 05:48] #301 closed, assigned to nobody

[2022-11-18 02:04] omad opened #326 "Collection 3 WO data needs reindexing from AWS"
## The Problem

While looking for sample data for https://github.com/opendatacube/datacube-explorer/pull/487 , I noticed that some  `ga_ls_wo_3` data indexed in the Production AWS data is missing thumbnail information.

This dataset was indexed from STAC, but does not include the accessory file information

![image](https://user-images.githubusercontent.com/108979/202599052-9a9060d6-9479-42c0-9516

[2022-11-29 05:15] robbibt commented on #326
@omad  @jmettes Does this also apply to our C3 Landsat data as well? For example, I noticed that products like these don't render thumbnails on the map like other products:

https://explorer.dev.dea.ga.gov.au/products/ga_ls7e_ard_3/datasets/5632539a-31b0-4171-b540-60d5b9625056
https://explorer.dev.dea.ga.gov.au/products/ga_ls5t_ard_3/datasets/a4dcf08f-19bc-4b0a-8992-0e853582a9fa
https://explorer.d

[2022-11-29 05:17] robbibt commented on #326
Landsat 9 seems OK:
https://explorer.dev.dea.ga.gov.au/products/ga_ls9c_ard_3/datasets/e03aeee8-2c75-49f7-9fbe-edc8d40652ee

![image](https://user-images.githubusercontent.com/17680388/204444972-bfc68028-491a-4c7a-b26c-c0375fc3f630.png)

[2022-11-30 06:01] omad commented on #326
Yep, those ARD will require re-indexing too.

The issue is with an older version of `odc-tools`, which did a poor job of indexing from STAC. It was fixed somewhere mid 2021, so any datasets indexed from STAC before then will be missing thumbnail information.